* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.flex-container {
    height: 600px;
    background-color: aquamarine;
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.item {
    width: 100px;
    height: 100px;
    background-color: red;
    color: #fff;
    margin: 20px; 
    display: flex;
    justify-content: center;/* main-axis | left to right*/
    align-items: center;/*cross-axis | top to bottom*/
}