*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

.container {
    max-width: 960px;
    margin: 10px auto;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap: 15px; */
}

.item {
    background-color: red;
    font-size: 20px;
    padding: 20px;
    border: rgb(248, 134, 134) 2px solid;
}

.item:nth-of-type(1){
    background-color: #000;
    grid-column-start: 1;
    grid-column-end: 3;
}